Package: com.kaitouiet.batteryonls
Name: BatteryOnLS
Depends: mobilesubstrate
Version: 20.0.0
Architecture: iphoneos-arm
Description: Add your battery percentage to your lock screen
Maintainer: Kiet Ha
Author: Kiet Ha
Section: Tweaks
